@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{  
    var tagList = Umbraco.TagQuery.GetAllContentTags().OrderBy(t => t.Text);
 }
    <ul>
        <li class="fondo-social">
            <ul class="menu-social">
                <li>
                    <a href="https://www.facebook.com/hernanmdemczuk" title="Facebook" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://github.com/hernandemczuk" title="GitHub" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/hernanmartindemczuk" title="YouTube" target="_blank"><i class="fa fa-youtube-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://ar.linkedin.com/in/hernandemczuk" title="LinkedIn" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+hernanmartindemczuk/" title="Google+" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/HMartin91" title="Twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/hernanmdemczuk" title="Enviar Correo" target="_blank"><i class="fa fa-envelope fa-2x"></i></a>
                </li>
            </ul>
        </li>
        <li class="menu-nav">
            <ul>
                <li class="desktop">
                    <div class="container-menu">
                        <ul class="menu">
                            <li>
                                <a href="">TODOS MIS POSTS @Umbraco.RenderMacro("PostsCount", new {startNodeId="1077"})<span class="arrow"> &#9660;</span></a>
                                <ul class="sub-menu">
                                    @foreach (var tag in tagList)
                                    {
                                        <a href="@tag.Text">
                                            <li>@tag.Text.ToUpper() (@tag.NodeCount POSTS)</li>
                                        </a>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
			@Umbraco.RenderMacro("listPages", new {startNodeId="1083"})
            </ul>
            </li>
        </ul>